Host UCSDJumpHost
  HostName 34.222.115.221
  User ubuntu
  IdentityFile ~/MEGAsync/ucsd/dev-ucsd.pem

Host ucsd-edx-dev
  # HostName ucsd-dev-edxinstance.ucsd.edu
  HostName 10.175.142.179
  User ubuntu
  ProxyJump UCSDJumpHost
  ProxyCommand ssh jump route -T 1 exec nc %h %p
  IdentityFile ~/MEGAsync/ucsd/dev-ucsd.pem


Host ucsd-edx-platform-QA
  # HostName ucsd-qa-edx-platform.ucsd.edu
  HostName 10.175.143.214
  User ubuntu
  ProxyJump UCSDJumpHost
  ProxyCommand ssh jump route -T 1 exec nc %h %p
  IdentityFile ~/MEGAsync/ucsd/dev-ucsd.pem



Host ucsd-edx-ecommerce-QA
  HostName ucsd-qa-edx-ecommerce.ucsd.edu
  User ubuntu
  ProxyJump UCSDJumpHost
  ProxyCommand ssh jump route -T 1 exec nc %h %p
  IdentityFile ~/MEGAsync/ucsd/dev-ucsd.pem


Host ucsd-edx-credentials-discovery-QA
  HostName ucsd-qa-edx-credentials-discovery.ucsd.edu
  User ubuntu
  ProxyJump UCSDJumpHost
  ProxyCommand ssh jump route -T 1 exec nc %h %p
  IdentityFile ~/MEGAsync/ucsd/dev-ucsd.pem



Host ucsd-edx-forums-QA
  HostName ucsd-qa-edx-forums.ucsd.edu
  User ubuntu
  ProxyJump UCSDJumpHost
  ProxyCommand ssh jump route -T 1 exec nc %h %p
  IdentityFile ~/MEGAsync/ucsd/dev-ucsd.pem



Host ucsd-edx-workers-QA
  HostName 10.175.143.226
  User ubuntu
  ProxyJump UCSDJumpHost
  ProxyCommand ssh jump route -T 1 exec nc %h %p
  IdentityFile ~/MEGAsync/ucsd/dev-ucsd.pem






Host nodev
  HostName 35.171.80.239
  User ubuntu
  IdentityFile ~/MEGAsync/nodev.edly/nodev.edly.io.pem

Host vagrant_philu
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile .vagrant.d/boxes/philu-devstack/0/virtualbox/vagrant_private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host synagie
  HostName app2.synagie.com
  User ubuntu



Host philuAnon
  Hostname 3.123.108.219
  User ubuntu


Host mattermost
  Hostname 52.59.229.208
  User ubuntu


Host MITx-Bastion
  HostName 52.207.94.143
  Port 22022
  User developer
  IdentityFile ~/.ssh/id_rsa


Host philuLTEJenkins
  HostName 18.197.63.147
  User ubuntu


Host LearningPitchEncodingServer
  HostName 18.184.188.191
  User ubuntu
  Port 2222
